@import "tailwindcss";

/* FONTS FQMILY IMPORTS */

@font-face {
  font-family: "Neue Haas Unica";
  src:
    url("/src/fonts/NeueHaasUnica.woff2") format("woff2"),
    url("/src/fonts/NeueHaasUnica.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Unica";
  src: url("/src/fonts/NeueHaasUnicaThin.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Unica";
  src: url("/src/fonts/NeueHaasUnicaLight.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "Neue Haas Unica";
  src: url("/src/fonts/NeueHaasUnicaUltraLight.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}

/* @plugin "flowbite/plugin"; */

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Neue Haas Unica", sans-serif;
  font-weight: 200;
}

@theme {
  --font-display: "Neue Haas Unica", sans-serif;
  --text-big: 15rem;
  --text-menu_1: clamp(3rem, 2.5vw, 2.5rem);
  --text-menu_2: clamp(1.75rem, 1.75vw, 1.5rem);
  --text--footer: -0.5rem;
}

/* MENU */
.menu.active {
  pointer-events: all;
  visibility: visible;
}
.menu a .line,
.menu p .line {
  position: relative;
  transform: translateY(100%);
  will-change: transform;
}
