---
import PageLayout from "../layouts/PageLayout.astro";

interface Props {
  error: unknown;
}

const { error } = Astro.props;
---

<PageLayout title="About Page">
  <section
    class="hero min-h-screen flex flex-col justify-center items-center text-center bg-black text-white"
  >
    <div class="marquee-container overflow-hidden w-full whitespace-nowrap">
      <div class="marquee text-big">
        <spaN>ASIDE STUDIO</spaN>
        <span>AGENCE WEB</span>
        <span>UX DESIGN</span>
      </div>
    </div>
  </section>
</PageLayout>

<script>
  import gsap from "gsap";

  const select = (element: any) => document.querySelector(element);

  document.addEventListener("DOMContentLoaded", () => {
    const marquee = select(".marquee");
    const containerWidth = select(".marquee-container").offsetWidth;

    // Duplicate the content for seamless looping
    marquee.innerHTML += marquee.innerHTML;

    const totalWidth = marquee.scrollWidth / 2;

    gsap.to(marquee, {
      x: -totalWidth,
      duration: 30,
      repeat: -1,
      ease: "linear",
    });
  });
</script>
